<template>
  <div class="flex gap-2 p-4 bg-secondary rounded-md items-start">
    <el-icon color="white" size="20">
      <InfoFilled />
    </el-icon>
    <div class="text-white text-sm">
      <slot />
    </div>
  </div>
</template>

<script setup>
const { InfoFilled } = require('@element-plus/icons-vue')
</script>
