<template>
  <div class="relative h-full">
    <img :src="logo" width="190" alt="" />
    <slot />
    <div class="flex flex-wrap gap-2 justify-between w-full absolute bottom-0">
      <div class="text-xs text-[#6C757D]">
        <router-link class="hover:underline" to="#">Privacy policy</router-link>
        • <router-link class="hover:underline" to="#">User terms</router-link> •
        <router-link class="hover:underline" to="#">About Sign it</router-link>
      </div>
      <div class="text-xs text-primary">
        © 2023 Peruri Digital Security All rights reserved.
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed } from 'vue'
import { useStore } from 'vuex'

const store = useStore()
const customLogo = computed(() => store.getters['theme/logoMain'])
const defaultLogo = require('@/assets/images/logo_main.png')
const logo = customLogo.value ? customLogo.value : defaultLogo
</script>
