@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'white': $app-color-white,
    'black': $app-color-black,
    'success': (
      'base': $app-color-success,
    ),
    'warning': (
      'base': $app-color-warning,
    ),
    'danger': (
      'base': $app-color-danger,
    ),
    'error': (
      'base': #f56c6c,
    )
  )
);

@use "element-plus/theme-chalk/src/index.scss" as *;

.el-form {
  .el-form-item {
    margin-bottom: 14px;
  }
  &--default.el-form--label-top .el-form-item .el-form-item__label {
    margin-bottom: 4px;
    line-height: 22px;
  }
}
