@font-face {
  font-weight: 300;
  font-family: Roboto;
  font-style: normal;
  src: url("../../../public/fonts/Roboto/roboto-light-webfont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: Roboto;
  font-style: normal;
  src: url("../../../public/fonts/Roboto/roboto-regular-webfont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: Roboto;
  font-style: italic;
  src: url("../../../public/fonts/Roboto/roboto-italic-webfont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  font-style: normal;
  src: url("../../../public/fonts/Roboto/roboto-medium-webfont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  font-style: normal;
  src: url("../../../public/fonts/Roboto/roboto-bold-webfont.woff2") format("woff2");
  font-display: swap;
}
