body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  @apply text-darkGrey;
}

h1,
h2,
h3 {
  @apply font-bold text-darkGrey;
}

p,
small,
b,
del,
u,
i {
  @apply text-darkGrey;
}

h1 {
  @apply text-3xl; // 30px
}

h2 {
  @apply text-2xl; // 24px
}

h3 {
  @apply text-xl; // 20px
}

p {
  @apply text-darkGrey;
}

small {
  @apply text-xs;
}

@screen lg {
  h1 {
    @apply text-4xl; // 36px
  }

  h2 {
    @apply text-3xl; // 30px
  }

  h3 {
    @apply text-2xl; //24px
  }
}