<template>
  <div class="layout-auth">
    <div class="card-content">
      <div class="content">
        <router-view></router-view>
      </div>
      <div class="image-content"></div>
    </div>
  </div>
</template>

<script setup>
import { computed } from 'vue'
import { useStore } from 'vuex'
const store = useStore()
const customBg = computed(() => store.getters['theme/bgFront'])
const defaultBg = require('@/assets/images/bg_front.jpg')
const bg = `url('${customBg.value ? customBg.value : defaultBg}')`
</script>

<style lang="scss">
.layout-auth {
  @apply h-screen flex flex-col justify-center items-center px-6 xl:p-0;
  background: linear-gradient(
    114.29deg,
    var(--app-color-tertiary) 10.41%,
    var(--app-color-tertiary-light) 21.82%,
    var(--app-color-primary) 66.07%,
    var(--app-color-primary-light) 89.81%
  );
  .card-content {
    @apply max-w-xl lg:max-w-7xl w-full rounded-2xl min-h-[60vh] flex overflow-hidden;
    .content {
      @apply w-full lg:w-[55%] xl:w-[50%] bg-white p-10 pb-8;
    }
    .image-content {
      @apply flex-1 hidden lg:block;
      background-image: v-bind(bg);
      background-position: center;
      background-size: cover;
      opacity: 0.75;
    }
  }
}
</style>
