<template>
  <div class="flex">
    <SideBar></SideBar>
    <div class="background" />
    <div class="content @container">
      <Navbar></Navbar>
      <main class="flex-1">
        <router-view></router-view>
      </main>
      <Footer></Footer>
    </div>
  </div>
</template>

<script setup>
import SideBar from '../SideBar.vue'
import Navbar from '../Navbar.vue'
import Footer from '../Footer.vue'
import { computed } from 'vue'
import { useStore } from 'vuex'

const store = useStore()
const customLogo = computed(() => store.getters['theme/logoMark'])
const defaultLogo = require('@/assets/images/logo_mark.png')
const logo = `url('${customLogo.value ? customLogo.value : defaultLogo}')`
</script>

<style lang="scss" scoped>
.content {
  @apply flex-1 flex flex-col h-screen overflow-y-auto px-6 relative;
}

.background {
  @apply absolute bottom-0 right-0 top-0 left-0 -z-10 opacity-10;
  background-image: v-bind(logo);
  background-repeat: no-repeat;
  background-position: 103% 115%;
  background-size: auto 70vh;
}
</style>
