<template>
  <nav class="flex justify-end items-center gap-4 py-6">
    <el-badge :value="1" class="item badge-notif" type="danger">
      <el-button link>
        <img
          src="@/assets/icons/notification.svg"
          class="h-6 w-6 object-fit"
          alt=""
        />
      </el-button>
    </el-badge>

    <div
      class="flex items-center border-2 border-greyLight rounded-full py-1 px-3"
    >
      <img
        src="@/assets/icons/user.svg"
        class="w-4 h-4 object-fit"
        alt="icon-user"
      />

      <p class="text-greyLight text-sm px-2">Admin</p>
    </div>
    <div class="text-right">
      <p>example.office@example.com</p>
      <p class="text-[#959595] text-xs">example</p>
    </div>
    <img
      src="https://fastly.picsum.photos/id/89/4608/2592.jpg?hmac=G9E4z5RMJgMUjgTzeR4CFlORjvogsGtqFQozIRqugBk"
      class="h-12 w-12 object-cover rounded-full"
      alt=""
    />
    <el-button type="primary" size="small" :icon="ArrowUpBold" circle />
  </nav>
</template>

<script setup>
const { ArrowUpBold } = require('@element-plus/icons-vue')
</script>

<style lang="scss">
.badge-notif {
  .el-badge__content.is-fixed {
    right: 13px;
    top: 2px;
  }
}
</style>
