<template>
  <aside class="main-sidebar" :class="[open ? 'w-72' : 'w-32']">
    <div
      class="absolute -right-5 top-8 border-4 border-white rounded-full z-10"
    >
      <el-button
        type="primary"
        :icon="open ? ArrowLeftBold : ArrowRightBold"
        circle
        @click="open = !open"
      />
    </div>
    <div
      class="flex flex-col justify-between h-full pl-12 pb-12 pt-6 overflow-y-auto"
    >
      <div>
        <div class="flex gap-x-4 items-center">
          <img :src="logo" class="w-10" alt="" />
          <h1
            class="text-white origin-left font-medium text-2xl duration-200"
            :class="{ hidden: !open }"
          >
            Brand
            <br /><small class="text-sm text-white whitespace-nowrap"
              >YOUR TAGLINE HERE</small
            >
          </h1>
        </div>
        <ul class="menus">
          <li
            v-for="(menu, index) in menuAsideTop"
            :key="index"
            class="list-menu"
            @click="toPath(menu.path)"
          >
            <img :src="menu.icon" class="icon object-fit" alt="nav menu icon" />
            <span class="title" :class="{ hidden: !open }">
              {{ menu.title }}
            </span>
          </li>
        </ul>
      </div>
      <div>
        <ul class="menus">
          <li
            v-for="(menu, index) in menuAsideBottom"
            :key="index"
            class="list-menu"
            @click="toPath(menu.path)"
          >
            <img :src="menu.icon" class="icon object-fit" alt="nav menu icon" />
            <span class="title" :class="{ hidden: !open }">
              {{ menu.title }}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </aside>
</template>

<script setup>
import { ref, computed } from 'vue'
import { ElMessageBox } from 'element-plus'
import router from '@/router'
import { useStore } from 'vuex'
import menuAsideTop from '../lib/menuAsideTop'
import menuAsideBottom from '../lib/menuAsideBottom'

const { ArrowLeftBold, ArrowRightBold } = require('@element-plus/icons-vue')
const store = useStore()

const open = ref(false)
const customLogo = computed(() => store.getters['theme/logoMarkWhite'])
const defaultLogo = require('@/assets/images/logo_mark_white.png')
const logo = customLogo.value ? customLogo.value : defaultLogo

function toPath(path) {
  if (path === '/logout') {
    handleLogout()
  } else {
    router.push(path)
  }
}

function handleLogout() {
  ElMessageBox.confirm('Apakah anda yakin ingin keluar?', 'Konfirmasi', {
    confirmButtonText: 'Ya',
    cancelButtonText: 'Batal',
    type: 'warning'
  })
    .then(() => {
      store.dispatch('logout')
      router.push('/auth/login')
    })
    .catch(() => {})
}
</script>

<style lang="scss" scoped>
.main-sidebar {
  @apply bg-gradient-to-b from-primary to-secondary h-screen relative duration-300 text-white rounded-r-[40px];
  .menus {
    @apply flex flex-col gap-14 mt-12;
    .list-menu {
      @apply flex items-center gap-6 cursor-pointer;
      width: fit-content;
      .icon {
        @apply h-6 w-6;
      }
      .title {
        @apply whitespace-nowrap;
      }
    }
  }
}
</style>
