<template>
  <router-view v-if="isAppReady" />
  <LoadingFull v-else />
</template>

<script setup>
import LoadingFull from './views/LoadingFull.vue'
import { ref, onMounted } from 'vue'
import { applyTheme } from './assets/utils/theming'
import { useStore } from 'vuex'

const isAppReady = ref(false)
const store = useStore()

onMounted(async () => {
  await applyTheme(store)
  isAppReady.value = true
})
</script>
