<template>
  <AuthWrapper>
    <el-form
      ref="formRef"
      :model="formField"
      class="mt-8"
      label-width="100px"
      label-position="top"
      hide-required-asterisk
      @validate="validateHandler"
    >
      <div class="grid sm:grid-cols-2 grid-cols-1 gap-x-6 items-center">
        <el-form-item
          label="Email Address"
          prop="email"
          :rules="[rules.required, rules.email, rules.emailPattern]"
        >
          <el-input
            v-model="formField.email"
            type="text"
            placeholder="e.g. yourname@email.com"
          />
        </el-form-item>
        <div class="text-xs text-grey italic">
          Check your spam box if you don't receive an email to confirm the
          password reset in the inbox.
        </div>
        <el-form-item
          label="Enter new password"
          prop="password"
          :rules="[
            rules.required,
            rules.minLength(8),
            rules.requireUpperLowercase
          ]"
        >
          <el-input
            v-model="formField.password"
            type="password"
            placeholder="put your password here"
            show-password
          />
        </el-form-item>
        <el-form-item
          label="Confirm new password"
          prop="confirmPassword"
          :rules="[rules.required, sameAsPassword]"
        >
          <el-input
            v-model="formField.confirmPassword"
            type="password"
            placeholder="put your password confirmation here"
            show-password
          />
        </el-form-item>
      </div>
      <el-form-item>
        <el-button
          class="w-full mt-4"
          type="primary"
          :disabled="!formValid"
          @click="resetPassword(formRef)"
        >
          Reset Password
        </el-button>
      </el-form-item>
    </el-form>
  </AuthWrapper>
</template>

<script setup>
import { reactive, ref, computed } from 'vue'
import { useStore } from 'vuex'
import AuthWrapper from './components/AuthWrapper.vue'
import router from '@/router'
import rules from '@/lib/validationRules'

const store = useStore()

const handleLogin = () => {
  store.dispatch('login', {
    email: formField.email,
    password: formField.password
  })
  router.push('/')
}

const formRef = ref()
const formValidity = ref({
  email: false,
  password: false,
  confirmPassword: false
})

const formField = reactive({
  email: '',
  password: '',
  confirmPassword: ''
})

const formValid = computed(() => {
  return (
    formValidity.value.email &&
    formValidity.value.password &&
    formValidity.value.confirmPassword
  )
})

function validateHandler(propName, isValid) {
  formValidity.value[propName] = isValid
}

const sameAsPassword = {
  validator(rule, value) {
    return value === formField.password
  },
  message: 'Please enter the same password as above'
}

const resetPassword = (formEl) => {
  if (!formEl) return
  formEl.validate((valid) => {
    if (valid) {
      console.log('submit!')
      handleLogin()
    } else {
      console.log('error submit!')
      return false
    }
  })
}
</script>
