<template>
  <AuthWrapper>
    <el-form
      ref="formRef"
      :model="loginForm"
      class="mt-8"
      label-width="100px"
      label-position="top"
      hide-required-asterisk
    >
      <el-form-item
        label="Email Address"
        prop="email"
        :rules="[rules.required, rules.email, rules.emailPattern]"
      >
        <el-input
          v-model="loginForm.email"
          type="text"
          placeholder="e.g. yourname@email.com"
        />
      </el-form-item>
      <el-form-item
        label="Password"
        prop="password"
        :rules="[rules.requiredWithMessage('Please enter password')]"
      >
        <el-input
          v-model="loginForm.password"
          type="password"
          placeholder="put your password here"
          show-password
        />
      </el-form-item>
      <el-form-item>
        <el-button class="w-full mt-4" type="primary" @click="login(formRef)">
          Sign In
        </el-button>
      </el-form-item>
    </el-form>
    <div class="flex flex-col sm:flex-row text-center justify-between mt-4">
      <div class="text-sm">
        Do you have account yet?
        <router-link
          class="text-[#427FC1] text-sm hover:underline"
          to="/auth/signup"
        >
          Sign Up
        </router-link>
      </div>
      <router-link
        class="text-[#427FC1] text-sm hover:underline"
        to="/auth/forget-password"
      >
        Forget Password?
      </router-link>
    </div>
    <Alert v-if="verificationSent" class="mt-4">
      <div>
        Your verification email has been sent to example@mail.com. Please check
        your email then press the Verification button to continue account
        verification. If you did not receive the verification email, please
        check the spam folder in your email or click here to resend the link.
      </div>
    </Alert>
  </AuthWrapper>
</template>

<script setup>
import { reactive, ref } from 'vue'
import { useStore } from 'vuex'
import AuthWrapper from './components/AuthWrapper.vue'
import router from '@/router'
import rules from '@/lib/validationRules'
import Alert from './components/Alert.vue'

const store = useStore()

const handleLogin = () => {
  store.dispatch('login', {
    email: loginForm.email,
    password: loginForm.password
  })
  router.push('/')
}

const formRef = ref()
const verificationSent = ref(false)

const loginForm = reactive({
  email: '',
  password: ''
})

const login = (formEl) => {
  if (!formEl) return
  formEl.validate((valid) => {
    if (valid) {
      console.log('submit!')
      handleLogin()
    } else {
      console.log('error submit!')
      return false
    }
  })
}
</script>
