<template>
  <div>
    <div>Dashboard Page</div>
    <p>paragraph</p>
    <i>italic text</i>
    <u>underline text</u>
    <del>del text</del>
    <small>small text</small>
    <b>bold text</b>
    <div>Typhography</div>
    <h1>H1 text</h1>
    <h2>H2 Text</h2>
    <h3>H3 Text</h3>
    <h4>H4 Text</h4>
    <h5>H5 Text</h5>
    {{ user }}
    <div class="text-white text-center max-w-[300px]">
      <div class="bg-red-800 sm:bg-blue-600 g:bg-yellow-500 2xl:bg-green">
        window query
      </div>
      <div
        class="bg-red-800 @sm:bg-blue-600 @lg:bg-yellow-500 @2xl:bg-green @4xl:bg-grey @6xl:bg-black"
      >
        container query
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    user() {
      return this.$store.state
    }
  }
}
</script>
